@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1040px !important;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 40
  }

.bg-header{
    position: absolute;
    /* bottom: 0; */
    height: auto;
    /* width: 100%; */

    /* background-image: url(../assets/img/patterns/wave.svg); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* height: 0;
    padding: 0; */
    /* padding-bottom: 140px; */
}

.head-section {
    color: #751119;
}

.head-section h1{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin-left: -3px !important;
}

.head-section span {
    font-weight: 700;
}

.btn-icon-session {
    display: inline;
}

.btn-icon-session span{
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    background-color: #C63C32;
    border-radius: 50%;
    color: #F5F5F5;
}

.btn-icon-session-light {
    background: rgba(198, 60, 50, 0.1);
    border: 1px solid rgba(198, 60, 50, 0.5);
}

.list-partner img{
    width: 160px !important;
    height: auto;
}

.list-partner .slick-prev, .list-partner .slick-next {
    width: 50px;
    height: 50px;
    z-index: 9999;
    opacity: 1;
}

.list-partner .slick-prev::before, .list-partner .slick-next::before {

    color: #999696;
    font-size: 30px;
}

.list-partner .slick-track {
    align-items: center;
    display: flex;
}

.list-partner .slick-slide {
    display: flex !important;
    justify-content: center;
    width: 100px;
}

.list-banner {
    border-radius: 16px;
}

.banner-item img{
    width: 100%;
    height: auto;
    /* left: 200px;
    top: 672px; */
    /* background: #751119; */
    border-radius: 16px;
}

.banner-button-prev {
    display: flex;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* right: -10px; */
    left: -12px;
    top: 40%;
    z-index: 2;
    background-color: #4F4F4F;
    border: none;
}

.banner-button-next {
    display: flex;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: 40%;
    z-index: 2;
    background-color: #4F4F4F;
    border: none;
}

.card-benefit {
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(198, 60, 50, 0.1);
    border-radius: 80px 0px 24px 24px;
}

.card-benefit img {
    object-fit: cover;
    height: 96px;
    width: 96px;
    border-radius: 50%;
}

.card-benefit h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.card-benefit h4 span {
    font-weight: 900;
}

.card-benefit p {
    text-align: justify;
}

.statistik-list div .card{
    height: 116px;
    background: rgba(198, 60, 50, 0.1);
    /* box-shadow: 0px 20px 30px rgba(198, 60, 50, 0.1); */

}

.pelatihan-item img{
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.pelatihan-item span {
    border: 2px solid rgba(174, 0, 0, 0.5);
    background-color: none;
}

.pelatihan-item button {
    background: #C63C32;
}

.faq-item {
    background: #FFFFFF !important;
    border: 1px solid rgba(38, 50, 56, 0.1) !important;
    border-radius: 8px;
}

.accordion-body {
    margin-top: 10px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 30px rgba(38, 50, 56, 0.05);
    /* border-radius: 0px 0px 16px 16px ; */
    border-radius: 16px;
}

.accordion-button {
    border: none;
    border-radius: 8px;
    color: #C63C32;

}

.accordion-button:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #FFFFFF;
    color: #C63C32;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
    content: e5c6;
    color: #C63C32;

}

.daftar-testimoni {
    
}

.daftar-testimoni > .slick-list {
    border-radius: 80px 0px 24px 24px !important;
}

.testimoni-item {
    background: #FFFFFF;
    /* box-shadow: 0px 20px 110px rgba(198, 60, 50, 0.13); */
    border-radius: 80px 0px 24px 24px;
}

.testimoni-item img {
    object-fit: cover;
    height: 144px;
    width: 144px;
    border-radius: 50%;
}

.testimoni-item h5 {
    font-weight: 700;
}

.tanyalebihlanjut-item {
    background: #C63C32;
    border-radius: 32px;
    padding: 70px 130px;
}

.tanyalebihlanjut-item-pelatihan {
    background: #C63C32;
    border-radius: 32px;
    padding: 34px 50px;
}


.footer {
    /* padding-top: 110px; */
    /* margin-top: -120px; */
    background: #340307;
}

.page-link {
    border-radius: 50% !important;
    border: 0;
    margin: 0 5px;
    width: 38px !important;
    height: 38px !important;
    text-align: center;
    color: #C63C32;
    box-shadow: 0px 20px 110px rgba(201, 43, 32, 0.456) !important;
}

.page-link:hover {
    color: black;
}

.text-primary {
    color: #C63C32 !important;
}

.form-select {
    background-image: url("../../img/icon/arrow_drop_down_circle_FILL1_wght400_GRAD0_opsz48.svg") !important;
    background-size: 28px 28px;
}

.form-control:focus {
    border-color: #c63c3232 !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.124);
}

.bg-primary-red {
    background-color: #C63C32 !important;
}

/* list font */

.font-8 {
    font-size: 8px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-32 {
    font-size: 32px !important;
}

.font-36 {
    font-size: 36px !important;
}

.weight-light {
    font-weight: 300 !important;
}

.weight-reguler {
    font-weight: 400 !important;
}

.weight-semi {
    font-weight: 600 !important;
}

.weight-bold {
    font-weight: 700 !important;
}

.weight-bolder {
    font-weight: 900 !important;
}

.active>.page-link, .page-link.active {
    background-color: #C63C32 !important;
}

a {
    text-decoration: none !important;
    color: #C63C32;
}

a:hover {
    text-decoration: none !important;
    color: #C63C32;
}

.container-extend {
    max-width: 1296px !important;
}

.deskripsi-pelatihan {
    z-index: 1;
}

.tittle-deskripsi {
    top: -43px;
    position: absolute;
    width: 144px;
    /* height: 256px; */
    background: #751119;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0px 0px;
    padding: 10px 24px;
    color: white;
    z-index: 2;
}

.deskripsi-pelatihan-kanan {
    position: relative;
    top: -120px;
    max-width: 380px !important;
}

.detail-info {
    list-style: none;
    padding: 0;
}

.detail-info-item {
    display: flex;
}

.detail-info-item div {
    color: #751119;
}

@media (max-width: 990px) {
    .deskripsi-pelatihan-kanan {
        position: relative;
        top: 0px;
        max-width: 100% !important;
    }
}